texput.fls
texput.log
TFGFinal.aux
TFGFinal.bbl
TFGFinal.bcf
TFGFinal.blg
TFGFinal.fdb_latexmk
TFGFinal.log
TFGFinal.run.xml
TFGFinal.toc
_minted-TFGFinal

1_Intro.aux
2_SensadoCol.aux
3_Tecnologias.aux
4_Analisisfuncional.aux
5_AnalisisOrganico.aux
6_EvalEmpirica.aux
7_Conclusiones.aux
X_Anexos.aux
X_GLosario.aux
X_PresupuestoPliego.aux